<%= element_editor_for(element) do |el| -%>
  <%= el.edit :categories_headline %>
  <% element.contents.where(name: ['category']).each do |content| %>
    <%= render_essence_editor content %>
  <% end %>
  <p><%= render_new_content_link(element) %></p>
<%- end -%>
